/*-- scss:defaults --*/
//import google fonts
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


$navbar-bg: #3f2739;    // Deep blue for navbar background
$navbar-fg: #ffffff;    // White for navbar text
$body-bg: #eee5e9;      // Light gray for body background

// Add this for darker text
.darker-text {
    color: #333333;
  }


 /*-- scss:rules --*/
 h1, h2 {
    letter-spacing: 5px;
    font-weight: 800;
  }
  
  .title {
    color: #3f2739;
  }
  
  .left-align {
    text-align: left;
  }
  
  .navbar-brand img { 
    max-height: 40px;
    width: auto;
  }

/* Custom button styling */
.btn-primary {
    background-color: #3f2739;  /* Change to your preferred color */
    border-color: #3f2739;
    
    &:hover {
      background-color: darken(#3f2739, 10%);
      border-color: darken(#3f2739, 10%);
    }
  }
  
/* Styling for About page */
.about-section {
    margin-bottom: 2rem;
    
    h2 {
      color: #4582EC;
      border-bottom: 2px solid #f0f0f0;
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
    }
    
    p {
      line-height: 1.6;
    }
  }
  
 

  
